.button {
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
    height: 35px;
    width: 80px;
}

.button.dark {
    color: white;
    background-color: black;

    /* padding: 0.6em 1.2em; */
}

.button.light {
    color: black;
    background-color: gray;
}

.button:hover {
    border-color: #646cff;
}
